
.border {
  border: 2px solid black;
  border-right: 1px solid black;
  position: absolute;
  top: 50%;
  bottom: 50;
}


.App {
    text-align: center;
    opacity:50;
}

   body{
       font-family: 'Pangolin', cursive;
   
   }
   .card-img-top{
    width: 200px;
    height: 220px;
      border: 3px solid black;
      border-radius: 3px;
       margin-left: auto;
 margin-right: auto;
  display: block;  
 width: 70%;

   }

   .font{
    float: left;
    font-size: 20px;
    text-align: center;
  }
  h5{
      font-size: 25px;
      }

.app{

    width: 200px;
    height: 220px;
      /* border: 1px solid black; */
      border-radius: 4px;
      margin-left: auto;
 margin-right: auto;
 display: block;

}


.center-1 {
 
  width: 250px;
  height: 250px;
  margin: 0;
  background: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.center-2 {
  width: 250px;
    height: 250px;
   border-radius: 4px;
    display: flex;
  margin:auto auto auto 40em;
  text-align: center;
   justify-content: space-around; 
    align-items: flex-start;
}